@using EduHome.Areas.Admin.ViewModels.SocialMediaViewModels;

@{
    ViewData["Title"] = "SocialMedia";
}

@model List<SocialMediaViewModel>

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Blogs</h4>

                    <div class="table-responsive">

                        <a class="btn btn-primary" asp-action="create">Create</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>IsDeleted</th>
                                    <th>Icon</th>
                                    <th>Value</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SocialMediaViewModel socialMedia in Model)
                                {
                                    <tr>
                                        <td>@socialMedia.IsDeleted</td>
                                        <td>@Html.Raw(socialMedia.IconName)</td>
                                        <td>@socialMedia.URL</td>
                                        <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@socialMedia.Id">Detail</a></td>
                                        <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@socialMedia.Id">Update</a></td>

                                        <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@socialMedia.Id">Delete</a></td>



                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- content-wrapper ends -->
<script src="https://kit.fontawesome.com/8f2bd1d04c.js" crossorigin="anonymous"></script>