@using EduHome.Models;
@using EduHome.ViewModels.EventViewModels;
@{
	ViewData["Title"] = "Event";
}
@model IEnumerable<EventCardViewModel>

<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner")
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
	<div class="container">
		<div class="row">
			@foreach(var events in Model)
			{
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-event mb-60">
						<div class="event-img">
							<a asp-action="Detail" asp-route-id="@events.Id">
								<img src="~/assets/img/event/@events.ImageName" alt="event">
								<div class="course-hover">
									<i class="fa fa-link"></i>
								</div>
							</a>
							<div class="event-date">
								<h3>@events.Date</h3>
							</div>
						</div>
						<div class="event-content text-left">
							<h4><a asp-action="Detail" asp-route-id="@events.Id">@events.Name</a></h4>
							<ul>
								<li><span>time:</span> @events.Time</li>
								<li><span>venue</span> @events.Venue</li>
							</ul>
							<div class="event-content-right">
								<a class="default-btn" asp-action="Detail" asp-route-id="@events.Id">join now</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<!-- Event End -->