@using EduHome.Models.Identity;
@{
	ViewData["Title"] = "Account details";
}
@model AppUser

<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner")
<!-- Banner Area End -->
<div class="container mt-5">
	<h1 class="mb-4">Your Account Details</h1>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Username: @Model.UserName</h5>
			<p class="card-text"><strong>Name:</strong> @Model.Name</p>
			<p class="card-text"><strong>Surname:</strong> @Model.Surname</p>
			<p class="card-text"><strong>Email:</strong> @Model.Email</p>
			<p class="card-text"><strong>Email Verified:</strong> @Model.EmailConfirmed</p>
			@if (Model.TwoFactorEnabled)
			{
				<p class="card-text"><strong>Two Factor Authentication:</strong> Two-Factor Authentication is enabled for this account.</p>
				<form asp-controller="Account" asp-action="ToggleTwoFactorAuthentication" method="post">
					<button type="submit" class="btn btn-danger" style="margin-top:15px">Disable Two-Factor Authentication</button>
				</form>
			}
			else
			{
				<p class="card-text"><strong>Two Factor Authentication:</strong> Two-Factor Authentication is disabled for this account.</p>
				<form asp-controller="Account" asp-action="ToggleTwoFactorAuthentication" method="post">
					<button type="submit" class="btn btn-success" style="margin-top:15px">Enable Two-Factor Authentication</button>
				</form>
			}
			<a id="mc-embedded-subscribe" class="default-btn" asp-action="LogOut" asp-controller="Auth" style="margin-top:15px"><span>Log Out</span></a>
		</div>
	</div>
</div>
