@using EduHome.ViewModels.CourseViewModels;
@using System.Globalization;
@{
	ViewData["Title"] = "Courses";
}
@model CoursePageViewModel

<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner")
<!-- Banner Area End -->
<!-- Course Start -->
<div class="blog-area event-area three pt-150 pb-90">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="blog-sidebar left">
					<div class="single-blog-widget mb-50">
						<h3>search</h3>
						<div class="blog-search">
							<form id="search" action="#">
								<input type="search" placeholder="Search..." name="search" />
								<button type="submit">
									<span><i class="fa fa-search"></i></span>
								</button>
							</form>
						</div>
					</div>
					<div class="single-blog-widget mb-50">
						<h3>categories</h3>
						<ul>
							@foreach (var categories in Model.Categories)
							{
								<li><a asp-action="Filter" asp-route-id="@categories.Id">@categories.Name</a></li>
							}
						</ul>
					</div>
					<div class="single-blog-widget mb-50">
						<h3>latest post</h3>
						@foreach(var blogs in Model.Blogs)
						{
							<div class="single-post mb-30">
								<div class="single-post-img">
									<a asp-action="Detail" asp-controller="Blog" asp-route-id="@blogs.Id">
										<img src="~/assets/img/post/@blogs.ImageName" alt="post">
										<div class="blog-hover">
											<i class="fa fa-link"></i>
										</div>
									</a>
								</div>
								<div class="single-post-content">
									<h4><a asp-action="Detail" asp-controller="Blog" asp-route-id="@blogs.Id">@blogs.Name</a></h4>
									<p>By @blogs.CreatedBy  /  @blogs.Date.Day   @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(blogs.Date.Month), @blogs.Date.Year</p>
								</div>
							</div>
						}						
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					@foreach (var courses in Model.Courses)
					{
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="single-course mb-70">
								<div class="course-img">
									<a asp-action="Detail" asp-route-id="@courses.Id">
										<img src="~/assets/img/course/@courses.ImageName" alt="course">
										<div class="course-hover">
											<i class="fa fa-link"></i>
										</div>
									</a>
								</div>
								<div class="course-content">
									<h3><a asp-action="Detail" asp-route-id="@courses.Id">@courses.Name</a></h3>
									<p>@courses.ShortDescription</p>
									<a class="default-btn" asp-action="Detail" asp-route-id="@courses.Id">read more</a>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Course End -->