@using EduHome.ViewModels.BlogViewModels;
@using System.Globalization;
@{
	ViewData["Title"] = "Blog";
}
@model IEnumerable<BlogCardViewModel>

<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner")
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
	<div class="container">
		<div class="row">
			@foreach(var blogs in Model)
			{
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-blog mb-60">
						<div class="blog-img">
							<a href="#"><img src="img/blog/@blogs.ImageName" alt="blog"></a>
							<div class="blog-hover">
								<i class="fa fa-link"></i>
							</div>
						</div>
						<div class="blog-content">
							<div class="blog-top">
								<p>@blogs.CreatedBy  /  @blogs.Date.Day   @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(blogs.Date.Month), @blogs.Date.Year  /  <i class="fa fa-comments-o"></i> @blogs.CommentCount</p>
							</div>
							<div class="blog-bottom">
								<h2><a href="blog-details.html">@blogs.Name </a></h2>
								<a href="blog-details.html">read more</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="pagination">
					<ul>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Blog End -->